html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#ADF, #FFF);
  background-repeat: no-repeat;
  height: 100%;
  font-family: georgia,serif;
}

.bold {
  font-weight: bold;
}

.clear {
  clear: both;
}

h1 {
  font-size: 48px;
  margin: 0px
}

h2 {
  font-size: 20px;
  margin: 0px
}



